*{
    margin: 0;
    padding: 0;
}
#hero{
    height: 100vh;
    background-image: url("../imgs/photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(146, 146, 146);
    display: flex;
    justify-content: center; 
    align-items: center;
}
#hero .content{
    height: 400px;
    width: 1000px;
    text-align: center;
}
#hero h1{
 font-size: 40px;
 color: rgb(81, 0, 255);
}

#hero h3{
    font-size: 20px;
    color: black;
}
#hero h2{
     
    color: rgb(245, 243, 243);
}
#hero button{
    padding: 10px 30px;
    margin-top: 10px;
    color: rgb(18, 99, 0);
    border: 3px solid rgb(235, 9, 9);
    border-radius: 25px;
    cursor: pointer;
}
